.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.comment-item {
  margin-top: 40px;
}
.comment-info {
  display: flex;
  align-items: flex-start;
}
.comment-profile {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
}
.person-letter {
  color: #ffffff;
  font-size: 20px;
}
.comment-by-and-comment-text-card {
  margin-left: 10px;
  flex-shrink: 0;
  width: 100%;
}
.created-by-created-at-card {
  display: flex;
}
.comment-by {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
}
.created-at {
  color: #94a3b8;
  margin-top: 4px;
  font-size: 15px;
  margin-left: 20px;
}
.comment-text {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #7e858e;
  width: 100%;
}
.like-and-delete-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.like-image {
  height: 25px;
}
.delete-image {
  height: 25px;
}
.like-button {
  border-width: 0px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.like-text {
  margin-left: 10px;
  font-family: 'Roboto';
  font-weight: 500;
}
.liked-text {
  margin-left: 10px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #0284c7;
}
